@charset "UTF-8";

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

html,
body {
  font-size: 16px;
  line-height: 150%;
  font-family: "Inter", sans-serif;
  color: #151B3D;
  font-weight: 400;
  background: #fff;
  position: relative;
}

body._open-window {
  position: fixed;
  overflow: hidden;
  height: 100%;
}

h1,
.__h1 {
  font-size: 42px;
  line-height: 114.28571%;
  font-weight: 600;
}

h2,
.__h2 {
  font-size: 36px;
  line-height: 116.66667%;
  font-weight: 600;
}

h3,
.__h3 {
  font-size: 28px;
  line-height: 121.42857%;
  font-weight: 600;
}

.__subtitle2 {
  font-size: 16px;
  line-height: 150%;
  font-weight: 600;
}

a {
  color: #000F63;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}

.icons {
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  text-align: center;
}

.icons:before {
  line-height: 1.5rem;
  width: 100%;
  height: 100%;
}

.icon:before {
  line-height: 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.no-auth .container {
  height: auto;
}

header {
  font-size: 0;
  width: 100%;
  height: 4rem;
}

.no-auth header {
  display: none;
}

.head-logo {
  width: 240px;
  background-color: #0B1759;
  border-bottom: 1px solid #1D2B75;
  height: 100%;
  font-size: 1rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  vertical-align: top;
  color: #ffffff;
}

.head-logo__burger {
  display: none;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.head-logo__burger::before {
  display: inline-block;
  width: 1.5rem;
  text-align: center;
}

.head-logo__logo {
  display: block;
  text-align: center;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  line-height: 1;
}

.head-logo__logo img {
  max-width: 100%;
}

.head-logo__notifications {
  display: none;
}

.head-logo__notification {
  color: #ffffff;
}

.head-logo__notification::before {
  display: inline-block;
  width: 1.5rem;
  text-align: center;
}

.head-info {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 1rem;
  width: calc(100% - 240px);
  border-bottom: 1px solid #E3E3ED;
  height: 100%;
  vertical-align: top;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.head-info > * {
  padding: 1.25em 1.5em;
}

.head-info > *:not(:last-child) {
  border-right: 1px solid #E3E3ED;
}

.head-info > * .icon:before {
  color: #9599AC;
  vertical-align: middle;
}

.head-info__contacts {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.head-info__contact {
  font-weight: 600;
  vertical-align: middle;
}

.head-info__contact.icon:before {
  padding-right: 0.75rem;
}

.head-info__cabinet {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  overflow: hidden;
  min-width: 15em;
}

.head-info__label-cabinet {
  vertical-align: middle;
  font-weight: 600;
  width: 100%;
  display: inline-block;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
}

.head-info__label-cabinet span {
  white-space: nowrap;
}

.head-info__label-cabinet.icon:before {
  padding-right: 0.75rem;
}

.head-info__notifications {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.overlay-half {
  display: none;
}

.no-auth .overlay-half {
  display: block;
  width: 100%;
  height: 60%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  background-color: #0B1759;
}

.no-auth .overlay-half__figure {
  background: url("../img/bg/wave-01.jpg");
  height: 60px;
}

.error-inner-pages .overlay-half {
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 2;
  position: fixed;
  display: block;
  height: 55%;
  background-color: #46CBE3;
}

.error-inner-pages .overlay-half__figure {
  background: url("../img/bg/wave-02.jpg");
  height: 60px;
}

.content-wrapper {
  display: block;
  width: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  font-size: 0;
}

.close-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  background-color: #0E3F96;
  color: #ffffff;
  padding: 0.5rem;
}

.side-area {
  width: 240px;
  position: relative;
  z-index: 11;
  height: 100%;
  display: inline-block;
}

.side-area__content {
  width: 240px;
  background-color: #0B1759;
  position: relative;
  z-index: 11;
  height: 100%;
  font-size: 1rem;
  color: #ffffff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.side-area__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(11, 23, 89, 0.5);
  z-index: 10;
  opacity: 0;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}

.side-area footer {
  padding-bottom: 1.25em;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.side-area__close {
  display: none;
  background-color: #0B1759;
  z-index: 11;
  position: fixed;
  left: 240px;
}

.side-area__cabinet {
  display: none;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding: 34px 1.25em 34px 1.5em;
  border-bottom: 1px solid #1D2B75;
}

.side-area__label-cabinet {
  color: #ffffff;
  font-weight: 500;
  vertical-align: middle;
}

.side-area__label-cabinet:before {
  vertical-align: middle;
  color: rgba(255, 255, 255, 0.4);
  padding-right: 0.75rem;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 2.25rem;
  flex: 0 0 2.25rem;
  -webkit-transition: color .3s ease;
  -o-transition: color .3s ease;
  transition: color .3s ease;
}

.no-auth .side-area {
  display: none;
}

.main-menu {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.main-menu__group {
  padding: 1.25em 0;
}

.main-menu__group:not(:last-child) {
  border-bottom: 1px solid #1D2B75;
}

.main-menu__item {
  display: block;
  position: relative;
}

.main-menu__item--selected:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0.25rem;
  height: 100%;
  background-color: #46CBE3;
  border-radius: 0 .25rem .25rem 0;
}

.main-menu__link {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding: 1em 1.25em 1em 1.5em;
  color: #ffffff;
  line-height: 1;
  vertical-align: middle;
  font-weight: 500;
}

.main-menu__link:before {
  color: rgba(255, 255, 255, 0.4);
  -webkit-transition: color .3s ease;
  -o-transition: color .3s ease;
  transition: color .3s ease;
  vertical-align: middle;
  padding-right: 0.75rem;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 2.25rem;
  flex: 0 0 2.25rem;
}

.main-menu__item--selected .main-menu__link:before {
  color: #ffffff;
}

.menu-contacts {
  padding: 1em 1.25em 1em 1.5em;
}

.menu-contacts__item {
  color: #ffffff;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

.menu-contacts__item:before {
  color: rgba(255, 255, 255, 0.4);
  padding-right: 0.75rem;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 2.25rem;
  flex: 0 0 2.25rem;
  -webkit-transition: color .3s ease;
  -o-transition: color .3s ease;
  transition: color .3s ease;
}

.page-content {
  width: calc(100% - 240px);
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-size: 1rem;
  height: 100%;
  background-color: #F4F5F9;
  padding: 1.5rem;
  overflow: hidden;
}

.page-content--bg2 {
  background-color: #FFFFFF;
}

.preloader {
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.preloader::before {
  content: '';
  display: block;
  background: url("../img/preloader/loader-p2.svg") no-repeat;
  background-size: contain;
  width: 6.25em;
  height: 6.25em;
  -webkit-animation: rotation-loading 2.5s infinite linear;
  animation: rotation-loading 2.5s infinite linear;
}

.preloader::after {
  content: '';
  display: block;
  background: url("../img/preloader/loader-p1.svg") no-repeat;
  background-size: contain;
  width: 2.25em;
  height: 2.5em;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -60%);
  -ms-transform: translate(-50%, -60%);
  transform: translate(-50%, -60%);
}

@-webkit-keyframes rotation-loading {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  to {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

@keyframes rotation-loading {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  to {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

.btn {
  display: inline-block;
  -webkit-transition: background-color .3s ease;
  -o-transition: background-color .3s ease;
  transition: background-color .3s ease;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 600;
  border-radius: .25rem;
  margin: .25rem 0;
  border: 1px solid;
  padding: 17px 31px;
}

.btn--primary {
  background-color: #46CBE3;
  border-color: #46CBE3;
  color: #fff;
}

.btn--primary:disabled,
.btn--primary._disabled {
  background-color: #DADCE7;
}

.btn--secondary {
  background-color: #fff;
  color: #14BAD8;
  border-color: #E3E3ED;
  -webkit-transition: background-color .3s ease,  border-color .3s ease,  color .3s ease;
  -o-transition: background-color .3s ease,  border-color .3s ease,  color .3s ease;
  transition: background-color .3s ease,  border-color .3s ease,  color .3s ease;
}

.btn--secondary:disabled,
.btn--secondary._disabled {
  color: #DADCE7;
}

.btn--icon {
  line-height: 1.5rem;
  padding: 13px 21px 13px 21px;
}

.btn--icon span {
  position: relative;
  padding-right: 2rem;
}

.btn--icon .icons {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.btn--icon-only {
  position: relative;
  padding: 13px;
  line-height: 1.5rem;
}

.btn:disabled,
.btn._disabled {
  cursor: default;
  border-color: #DADCE7;
}

.field {
  display: block;
  width: 100%;
}

.field__label {
  color: #151B3D;
  line-height: 150%;
  font-weight: 600;
  margin-bottom: 0.5rem;
  display: inline-block;
}

.field__element {
  display: block;
  width: 100%;
  height: 52px;
  border-radius: 4px;
  font-size: 1rem;
  line-height: 150%;
  padding: 14px 16px;
  color: #151B3D;
  background-color: #fff;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.field:not(:is(.field--radio, .field--checkbox, .field--select)) .field__element {
  border: 1px solid #E3E3ED;
}

.field__element::-webkit-input-placeholder {
  color: #9599AC;
}

.field__element::-moz-placeholder {
  color: #9599AC;
}

.field__element:-ms-input-placeholder {
  color: #9599AC;
}

.field__element::-ms-input-placeholder {
  color: #9599AC;
}

.field__element::placeholder {
  color: #9599AC;
}

.field__element:focus {
  -webkit-box-shadow: 0px 4px 8px rgba(0, 4, 38, 0.12);
  box-shadow: 0px 4px 8px rgba(0, 4, 38, 0.12);
  border-color: #14BAD8;
}

.field--error .field__element {
  border-color: #E80F0F;
}

.field__element:disabled {
  border-color: #DADCE7 !important;
  color: #DADCE7;
}

.field__element:disabled::-webkit-input-placeholder {
  color: #DADCE7;
}

.field__element:disabled::-moz-placeholder {
  color: #DADCE7;
}

.field__element:disabled:-ms-input-placeholder {
  color: #DADCE7;
}

.field__element:disabled::-ms-input-placeholder {
  color: #DADCE7;
}

.field__element:disabled::placeholder {
  color: #DADCE7;
}

.field--icon-right .field__element {
  padding-right: 44px;
}

.field--icon-left .field__element {
  padding-left: 44px;
}

.field textarea.field__element {
  height: 100px;
}

.field__error-message {
  font-size: 0.75rem;
  line-height: 150%;
  color: #E80F0F;
  padding: .25rem 1rem;
}

.field__icon {
  position: absolute;
  width: 24px;
  height: 100%;
  top: 0;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #9599AC;
}

.field__icon a {
  color: #9599AC;
}

.field--disabled .field__icon {
  color: #DADCE7;
}

.field--disabled .field__icon a {
  color: #DADCE7;
}

.field--icon-right .field__icon {
  right: 12px;
  left: auto;
}

.field--icon-left .field__icon {
  right: auto;
  left: 12px;
}

.field__wrapper {
  position: relative;
  height: 52px;
  z-index: 1;
  width: 100%;
}

.field__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 100%;
}

.field__item + .field__item {
  padding-top: 0.75em;
}

.field--radio .field__element {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  padding: 0;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 1.25rem;
  flex: 0 0 1.25rem;
  margin: 0.25rem 1rem 0.25rem 0.25rem;
}

.field--checkbox .field__element {
  width: 1.125rem;
  height: 1.125rem;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 1.125rem;
  flex: 0 0 1.125rem;
  padding: 0;
  margin: .425rem 1rem .425rem .425rem;
}

.field--select .field__element {
  height: auto;
  padding: 0;
}

.field--file .field__element {
  display: none;
}

.field--file .field__btn-text {
  border: 1px solid #E3E3ED;
  border-radius: .25rem;
  font-size: 1rem;
  line-height: 1;
  font-weight: 600;
  color: #14BAD8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  padding: 17px 31px;
}

.field--file .field__btn-text:before {
  padding-left: 0.5rem;
  line-height: 1rem;
}

.field--file .field__element:disabled + .field__btn-text {
  color: #DADCE7;
  border-color: #DADCE7;
}

.field--file.field--error .field__btn-text {
  color: #E80F0F;
  border-color: #E80F0F;
}

.counter-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: .5rem;
  border: 1px solid #E3E3ED;
  border-radius: 0.25rem;
  height: 40px;
  -webkit-transition: border-color .3s ease, -webkit-box-shadow .3s ease;
  transition: border-color .3s ease, -webkit-box-shadow .3s ease;
  -o-transition: border-color .3s ease, box-shadow .3s ease;
  transition: border-color .3s ease, box-shadow .3s ease;
  transition: border-color .3s ease, box-shadow .3s ease, -webkit-box-shadow .3s ease;
}

.counter-field__input {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 1.625rem;
  flex: 1 1 1.625rem;
  min-width: 1.625rem;
  padding: 0 .5rem;
  font-size: 1rem;
  line-height: 1.5rem;
  height: 100%;
  background-color: #FFFFFF;
  text-align: center;
}

.counter-field__minus,
.counter-field__plus {
  color: #9599AC;
  width: 1.5rem;
  height: 1.5rem;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 1.5rem;
  flex: 0 0 1.5rem;
}

.counter-field__minus._disabled,
.counter-field__plus._disabled {
  color: #DADCE7;
}

.counter-field--focus {
  -webkit-box-shadow: 0px 4px 8px rgba(0, 4, 38, 0.12);
  box-shadow: 0px 4px 8px rgba(0, 4, 38, 0.12);
  border-color: #14BAD8;
}

.counter-field--error {
  border-color: #E80F0F;
}

.counter-field--disabled {
  border-color: #DADCE7 !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.counter-field--disabled .counter-field__input {
  color: #DADCE7;
}

.counter-field--disabled .counter-field__minus,
.counter-field--disabled .counter-field__plus {
  color: #DADCE7;
}

.form__field {
  margin-bottom: 20px;
}

.form__field:last-child {
  margin-bottom: 0;
}

.form__error {
  font-size: 0.875rem;
  line-height: 150%;
  color: #E80F0F;
}

.form__error > * {
  padding: 0.125rem 0;
}

.form__error > *:first-child {
  padding-top: 1rem;
}

.form__footer {
  padding-top: 20px;
}

.captcha {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
}

.captcha__image img {
  max-width: 100%;
}

.captcha__refresh {
  height: 2.5rem;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 2.5rem;
  flex: 0 0 2.5rem;
  margin-left: 1rem;
  background: none;
}

.captcha__refresh i {
  display: block;
  width: 2.5rem;
  height: 2.5rem;
}

.captcha__refresh i::before {
  display: inline-block;
  width: 2rem;
  height: 100%;
  margin: auto;
  line-height: 2.5rem;
  content: '';
  background: url("../img/icons/reload.svg") no-repeat;
  background-position: center center;
  background-size: contain;
}

body._lock {
  overflow: hidden;
}

.modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(11, 23, 89, 0.5);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: all .5s ease 0s;
  -o-transition: all .5s ease 0s;
  transition: all .5s ease 0s;
  z-index: 9999;
}

.modal::-webkit-scrollbar {
  width: 0.425rem;
}

.modal::-webkit-scrollbar-track {
  background-color: #F4F5F9;
}

.modal::-webkit-scrollbar-thumb {
  background-color: #0E3F96;
}

.modal.open {
  opacity: 1;
  visibility: visible;
}

.modal._active {
  z-index: 999999;
}

.modal__body {
  display: table-cell;
  height: 100vh;
  width: 100vw;
  text-align: right;
}

.modal__container {
  display: inline-block;
  color: #151B3D;
  background: #FFFFFF;
  font-size: 16px;
  line-height: 150%;
  max-width: 870px;
  width: 100%;
  position: relative;
  text-align: left;
  padding: 1.25em 0;
  height: 100%;
}

.modal__close {
  top: 0;
  left: 0;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  position: absolute;
  padding: 0.5em;
  display: block;
  background-color: #0E3F96;
}

.modal__close span {
  color: #ffffff;
  display: block;
  width: 1.5em;
  height: 1.5em;
  -webkit-transition: color .3s ease;
  -o-transition: color .3s ease;
  transition: color .3s ease;
}

.modal__content {
  padding: 0 1.25rem;
}

.modal__title {
  color: #151B3D;
  padding: 0 1.25rem 1.5rem;
}

.modal__text {
  padding: 0 1.25rem;
}

.modal__text * + * {
  padding-top: 1.25em;
}

.page-title {
  padding: 0.25rem 0 1.75rem;
}

.no-title .page-title {
  display: none;
}

.table {
  display: table;
  width: 100%;
}

.table__tr {
  display: table-row;
  background-color: #FFFFFF;
  position: relative;
}

.table__tr.__head {
  padding: 0 .25rem;
  background: #0E3F96;
}

.table__td {
  display: table-cell;
  padding: 1rem;
  font-size: 0.875rem;
  line-height: 128.57143%;
  vertical-align: top;
  border-bottom: 1px solid #E3E3ED;
}

.__head .table__td {
  color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 150%;
  padding: 0.75rem 1rem;
  border: none;
}

.table__td--close-icon {
  padding: .75rem .75rem .75rem 0;
  color: #9599AC;
}

.table__td--link {
  padding: 0;
}

.table__td--counter {
  text-align: center;
}

.table__link--show-modal {
  padding: 1rem;
  display: block;
  height: 100%;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.table__link--show-modal._empty {
  color: #9599AC;
}

.table__link--order.__changed {
  font-weight: 600;
  padding-right: 1rem;
  position: relative;
  display: inline-block;
}

.table__link--order.__changed:after {
  position: absolute;
  content: '';
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0;
  border-radius: .25rem;
  background-color: #FF9900;
}

.section-table {
  padding-bottom: 1.725rem;
}

.section-table__title {
  font-size: 20px;
  line-height: 140%;
  font-weight: 600;
  padding-bottom: 1rem;
}

.section-table__body {
  overflow-x: auto;
}

.section-table__body::-webkit-scrollbar {
  height: 6px;
}

.section-table__body::-webkit-scrollbar-track {
  background-color: #F4F5F9;
}

.section-table__body::-webkit-scrollbar-thumb {
  background-color: #0E3F96;
}

.section-table__add-row {
  width: 100%;
  background-color: #FFFFFF;
  display: block;
}

.section-table__add-button {
  width: 100%;
  border: none;
  margin: 0;
  padding: 1rem;
}

.section-table__add-button > div {
  display: inline-block;
  position: relative;
  padding-right: 2.25rem;
}

.section-table__add-button.btn--icon {
  padding-right: 1rem;
}

.section-table__add-button.btn--icon .icons {
  right: 0;
}

.product-card {
  display: block;
  border: 1px solid #E3E3ED;
  background-color: #FFFFFF;
  padding: 1rem;
  -webkit-transition: border-color .3s ease-in-out, -webkit-box-shadow .3s ease-out;
  transition: border-color .3s ease-in-out, -webkit-box-shadow .3s ease-out;
  -o-transition: box-shadow .3s ease-out, border-color .3s ease-in-out;
  transition: box-shadow .3s ease-out, border-color .3s ease-in-out;
  transition: box-shadow .3s ease-out, border-color .3s ease-in-out, -webkit-box-shadow .3s ease-out;
  position: relative;
  z-index: 1;
}

.product-card__image {
  width: 100%;
  height: 240px;
  min-width: 240px;
  text-align: center;
  overflow: hidden;
  background-color: #FAFAFA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.product-card__image img {
  max-width: 100%;
}

.product-card__image.__no-image {
  background-color: #F4F5F9;
}

.product-card__title {
  padding-top: 1rem;
  -webkit-transition: color .3s ease-in-out;
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

.product-card__description {
  padding-top: 0.75rem;
  font-size: 0.75rem;
  line-height: 150%;
  color: #4B4F68;
}

.characteristics-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 1rem;
  border: 1px solid #E3E3ED;
  background-color: #FFFFFF;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  position: relative;
  z-index: 1;
}

.characteristics-card__image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 140px;
  flex: 0 0 140px;
  width: 140px;
  height: 140px;
  text-align: center;
  overflow: hidden;
  background-color: #FAFAFA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.characteristics-card__image.__no-image {
  background-color: #F4F5F9;
}

.characteristics-card__image img {
  max-width: 100%;
}

.characteristics-card__body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 0 .75rem 0 1rem;
}

.characteristics-card__title {
  -webkit-transition: color .3s ease;
  -o-transition: color .3s ease;
  transition: color .3s ease;
  padding-bottom: 0.5rem;
}

.characteristics-card__description {
  color: #4B4F68;
}

.characteristics-card__actions {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 1.5rem;
  flex: 0 0 1.5rem;
}

.characteristics-card__action label {
  pointer-events: none;
}

.characteristics-card__action .field__element {
  -webkit-transition: border-color .3s ease;
  -o-transition: border-color .3s ease;
  transition: border-color .3s ease;
  margin: 0;
}

.characteristics-card._selected {
  border-color: #14BAD8;
}

.tabs__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  margin: 0 -.75rem;
  background-color: #FFFFFF;
}

.tabs__item {
  display: block;
  padding: .25rem .75rem 0;
  font-size: 1rem;
  line-height: 1;
  font-weight: 500;
}

.tabs__item span {
  display: block;
  padding-bottom: 0.75rem;
  position: relative;
  overflow: hidden;
}

.tabs__item span::after {
  content: '';
  display: block;
  height: 3px;
  width: 100%;
  background-color: transparent;
  position: absolute;
  bottom: 0;
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.tabs__item._active span::after {
  background-color: #14BAD8;
}

.tabs__body {
  background-color: #F4F5F9;
}

.tabs__block {
  display: none;
  height: 100%;
}

.info-block {
  padding-bottom: 1.5rem;
}

.info-block__header {
  background-color: #0E3F96;
  padding: 1rem 1.5rem;
}

.info-block__title {
  color: #ffffff;
}

.info-block__body {
  background-color: #FFFFFF;
  padding: 0.5rem 1.5rem;
}

.property-list {
  display: block;
  width: 100%;
}

.property-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.75rem 0;
}

.property-list__item:not(:last-child) {
  border-bottom: 1px solid #E3E3ED;
}

.property-list__title {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  color: #9599AC;
  padding-right: 1rem;
}

.property-list__value {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  text-align: right;
}

.comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.comment__icon {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 2.25rem;
  flex: 0 0 2.25rem;
  padding: 0.75rem 0;
}

.comment__icon:before {
  width: 1.5rem;
  height: 1.5rem;
  display: block;
  text-align: center;
  font-size: 0.75rem;
  line-height: 1.5rem;
  text-align: center;
  color: #fff;
  border-radius: .75rem;
}

.comment__content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 0.75rem 0;
}

.comment__header {
  font-size: 0.75rem;
  line-height: 150%;
  color: #9599AC;
}

.comment__label {
  display: inline-block;
  padding-right: 0.5rem;
  border-right: 1px solid #E3E3ED;
  vertical-align: baseline;
}

.comment__date {
  display: inline-block;
  padding-left: 0.5rem;
  vertical-align: baseline;
}

.comment__body > * {
  padding: 0.25rem 0;
}

.comment__file::before {
  font-size: 1rem;
  line-height: 1;
  padding-right: 0.5rem;
}

.comment:not(:last-child) .comment__content {
  border-bottom: 1px solid #E3E3ED;
}

.comment--good .comment__icon:before {
  font-size: .5rem;
  background-color: #00BF63;
}

.comment--in .comment__icon:before {
  font-size: 10px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  background-color: #00BF63;
}

.comment--out .comment__icon:before {
  font-size: 10px;
  background-color: #0E3F96;
}

.comment--message .comment__icon:before {
  font-size: 13px;
  padding-top: 0.125rem;
  background-color: #14BAD8;
}

.no-auth {
  background-color: #0E3F96;
}

.auth-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 3;
  min-height: 480px;
  background-color: transparent;
}

.auth-block {
  display: block;
  width: 392px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 4, 38, 0.12);
  box-shadow: 0px 4px 8px rgba(0, 4, 38, 0.12);
  border-radius: 4px;
  padding: 28px;
}

.auth-block__logo {
  padding: .75rem 0 0;
  text-align: center;
}

.auth-block__logo img {
  max-width: 100%;
}

.auth-block__title {
  padding: 20px 0;
  text-align: center;
  color: #151B3D;
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
}

.auth-block__btn {
  display: block;
  width: 100%;
  margin: 0;
}

.auth-block__footer {
  padding-top: 2rem;
}

.auth-block__footer p {
  color: #4B4F68;
}

.not-found-page {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.not-found-page__container {
  position: relative;
  z-index: 4;
}

.not-found-page__number {
  display: block;
  width: 368px;
  height: 228px;
  background: url("../img/404.svg") no-repeat;
  background-size: contain;
  margin: 0 auto;
}

.not-found-page__text {
  color: #ffffff;
  font-size: 28px;
  line-height: 121.42857%;
  font-weight: 600;
  text-align: center;
  padding-top: 55px;
}

.faluire-page {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.faluire-page__container {
  color: #ffffff;
  text-align: center;
  position: relative;
  z-index: 4;
}

.faluire-page__image {
  display: block;
  width: 468px;
  height: 280px;
  background: url("../img/500.svg") no-repeat;
  background-size: contain;
  margin: 0 auto;
}

.faluire-page__header {
  font-size: 28px;
  line-height: 121.42857%;
  font-weight: 600;
  padding-top: 26px;
}

.faluire-page__text {
  font-size: 20px;
  line-height: 140%;
  padding-top: 0.5rem;
}

.product-link {
  padding-left: 0.75rem;
}

.product-link__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.product-link__image {
  display: block;
  width: 66px;
  height: 66px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66px;
  flex: 0 0 66px;
  background-color: #F4F5F9;
}

.product-link__image img {
  max-width: 100%;
}

.product-link__title {
  padding-left: 1rem;
}

.table-field-counter {
  width: 6.25rem;
}

.form-section {
  padding: 1.5rem;
  border-bottom: 1px dashed #E3E3ED;
}

.form-section__title {
  padding-bottom: 1.25rem;
}

.order-form {
  padding-bottom: 3rem;
}

.order-type-2 .order-form {
  padding-bottom: 0;
}

.order-form__page-title {
  padding: 0.25rem 0 1.75rem;
}

.order-form__summary {
  padding: 1rem 1.5rem;
}

.order-form__summary.__fixed {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: #FFFFFF;
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 23, 69, 0.08);
  box-shadow: 0px 0px 20px rgba(0, 23, 69, 0.08);
}

.order-form__sum {
  display: block;
  color: #151B3D;
}

.__fixed .order-form__sum {
  padding: 0 1.5rem 0 0;
  font-size: 20px;
  line-height: 140%;
  font-weight: 600;
}

.order-form__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 1rem -.5rem 0;
}

.order-form__actions > * {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin: .5rem;
}

.__fixed .order-form__actions {
  display: block;
  margin: 0;
}

.__fixed .order-form__actions > * {
  margin: 0;
}

.__fixed .order-form__submit {
  margin: 0;
  width: 270px;
}

.order-form__block {
  max-width: 564px;
  margin: 0 auto;
}

.order-form__block-header {
  padding: 1.5rem;
}

.order-form__block-body {
  padding: 0;
}

.order-form__company.field__item {
  padding-top: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.order-form__company.field__item span {
  padding: 1rem 0;
  border-bottom: 1px solid #E3E3ED;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.order-form__choose-section {
  padding: .5rem 1.5rem;
  border-bottom: none;
}

.choose-produts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.choose-produts__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.333%;
  flex: 0 0 33.333%;
}

.__characteristics .choose-produts__item {
  width: 100%;
}

.choose-produts.__characteristics {
  display: block;
  width: 100%;
}

.choose-produts__product {
  height: 100%;
}

.__characteristics .choose-produts__product {
  height: auto;
}

.success-message-window {
  max-width: 564px;
  margin: 0 auto;
  text-align: center;
  padding: 14% 0;
}

.success-message-window__body {
  padding: 2.5rem 1.5rem 3rem;
}

.success-message-window__icon {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  position: relative;
  margin-top: 2.5rem;
}

.success-message-window__icon::before {
  font-family: 'icomoon';
  content: "\e922";
  font-size: 4rem;
  line-height: 1;
  color: #0E3F96;
}

.success-message-window__icon::after {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(50%, 50%);
  -ms-transform: translate(50%, 50%);
  transform: translate(50%, 50%);
  width: 2rem;
  height: 2rem;
  font-family: 'icomoon';
  content: "\e90e";
  font-size: 2rem;
  line-height: 1;
  color: #fff;
}

.success-message-window__text {
  padding: 2rem 0 3rem;
}

.order-tabs {
  height: 100%;
}

.order-tabs__items {
  margin: 0 -1.5rem;
  padding: 0 .75rem;
}

.order-tabs__body {
  margin: 0 -1.5rem -1.5rem;
  padding: 1.5rem 1.5rem 0;
  height: 100%;
}

.order-tabs__info-tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  margin: 0 -0.75rem;
}

.order-tabs__info-tab > * {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  padding: 0 .75rem 1.5rem;
}

.order-tabs__actions-block {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}

.order-tabs__order-summarize {
  padding: 1.5rem 0;
  font-size: 20px;
  line-height: 140%;
  text-align: right;
  font-weight: 600;
  color: #151B3D;
}

.order-actions__action {
  padding: 1rem 0;
}

.order-actions__action:not(:last-child) {
  border-bottom: 1px solid #E3E3ED;
}

.order-actions__button {
  width: 100%;
  margin: 0;
}

.order-actions__hint {
  padding-top: 0.5rem;
  font-size: 0.75rem;
  line-height: 150%;
  color: #4B4F68;
}

.comment-form {
  padding: 1rem 0;
}

.comment-form__footer {
  padding-top: 1.5rem;
}

.comment-form__submit {
  width: 100%;
  margin: 0;
}

.__txt-right {
  text-align: right;
}

.__rub:after {
  content: "₽";
  display: inline-block;
  padding-left: 0.25em;
}

.__nowrap {
  white-space: nowrap;
}

@media (max-width: 991px) {
  h1,
  .__h1 {
    font-size: 36px;
    line-height: 111.11111%;
  }

  h2,
  .__h2 {
    font-size: 28px;
    line-height: 128.57143%;
  }

  h3,
  .__h3 {
    font-size: 24px;
    line-height: 116.66667%;
  }

  .__subtitle2 {
    font-weight: 400;
  }

  header {
    height: 3rem;
  }

  .head-logo {
    width: 100%;
  }

  .head-logo > * {
    padding: 0.75rem;
  }

  .head-logo > *:not(:last-child) {
    border-right: 1px solid #1D2B75;
  }

  .head-logo__burger {
    display: block;
  }

  .head-logo__logo img {
    height: 1rem;
    vertical-align: middle;
  }

  .head-logo__notifications {
    display: block;
  }

  .head-info {
    display: none;
  }

  .side-area {
    -webkit-box-shadow: 0px 4px 24px rgba(0, 4, 38, 0.4);
    box-shadow: 0px 4px 24px rgba(0, 4, 38, 0.4);
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    display: inline-block;
    opacity: 0;
    z-index: -1;
  }

  .side-area.__opened {
    opacity: 1;
    z-index: 11;
  }

  .side-area__content {
    overflow-y: scroll;
    -webkit-box-shadow: 0px 4px 24px rgba(0, 4, 38, 0.4);
    box-shadow: 0px 4px 24px rgba(0, 4, 38, 0.4);
    width: 280px;
  }

  .side-area__overlay {
    display: block;
  }

  .__opened .side-area__overlay {
    opacity: 1;
  }

  .side-area__close {
    display: block;
  }

  .side-area__cabinet {
    display: block;
  }

  .page-content {
    width: 100%;
    padding: 1rem;
  }

  .order-type-2 .page-content {
    padding: 0;
  }

  .btn {
    padding: 11px 23px;
  }

  .btn--icon {
    padding: 7px 15px 7px 15px;
  }

  .btn--icon-only {
    padding: 7px;
  }

  .field__element {
    height: 40px;
    padding: 8px 12px;
  }

  .field--icon-right .field__element {
    padding-right: 40px;
  }

  .field--icon-left .field__element {
    padding-left: 40px;
  }

  .field__error-message {
    padding: .25rem .75rem;
  }

  .field--icon-right .field__icon {
    right: 8px;
  }

  .field--icon-left .field__icon {
    left: 8px;
  }

  .field__wrapper {
    height: 40px;
  }

  .field--file .field__btn-text {
    padding: 11px 23px;
  }

  .modal__container {
    padding: 1.5rem 0;
    max-width: 100%;
  }

  .modal__close {
    right: 0;
    left: auto;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  .modal__content {
    padding: 0;
  }

  .modal__title {
    padding: 0 2.5rem 1rem 1rem;
  }

  .modal__text {
    padding: 0 1rem;
  }

  .page-title {
    padding: .5rem 0 1.5rem;
  }

  .table {
    display: block;
  }

  .table__tr.__head {
    display: none;
  }

  .table__tr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #FFFFFF;
    padding-bottom: 0.5rem;
  }

  .table__tr:not(:last-child) {
    margin-bottom: 0.5rem;
  }

  .table__td {
    display: block;
    padding: 2px 0.75rem;
    border-color: transparent;
  }

  .table__td--order {
    padding: 0.75rem;
  }

  .table__td--mob-footer {
    padding: 0.25rem .75rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .table__td--mob-footer:before {
    display: block;
    content: attr(data-title);
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 600;
    color: #9599AC;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    -moz-text-align-last: left;
    text-align-last: left;
  }

  .table__td--mob-footer.table__td--first-footer-row {
    border-top: 1px solid #E3E3ED;
    margin-top: .625rem;
    padding-top: 0.75rem;
  }

  .table__td--close-icon {
    position: absolute;
    top: .75rem;
    right: .75rem;
    padding: 0;
    margin: 0;
    width: 1.5rem;
    height: 1.5rem;
    z-index: 2;
  }

  .table__td--link {
    padding: 0;
  }

  .table__td--counter {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }

  .table__td--features {
    border-top: 1px solid #E3E3ED;
    padding-top: 0.75rem;
    margin-bottom: -0.625rem;
    padding-bottom: 0.625rem;
  }

  .table__td--features:before {
    display: block;
    content: attr(data-title);
    text-transform: uppercase;
    padding: 0 .75rem 2px;
    font-size: 0.75rem;
    line-height: 150%;
    font-weight: 600;
    color: #9599AC;
    -moz-text-align-last: left;
    text-align-last: left;
  }

  .table__link--show-modal {
    padding: 2px 0.75rem;
  }

  .section-table {
    padding-bottom: 1.5rem;
  }

  .section-table__title {
    padding-bottom: 0.75rem;
  }

  .section-table__add-row {
    margin-top: 0.5rem;
  }

  .product-card__image {
    height: 328px;
    min-width: 328px;
  }

  .characteristics-card {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .characteristics-card__image {
    height: 328px;
    min-width: 328px;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    width: 100%;
    margin-bottom: 0.75rem;
  }

  .characteristics-card__body {
    padding-left: 0;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 calc(100% - 1.5rem);
    flex: 1 1 calc(100% - 1.5rem);
  }

  .characteristics-card__description {
    font-size: 0.75rem;
    line-height: 150%;
  }

  .info-block {
    padding-bottom: 0.5rem;
  }

  .info-block__header {
    padding: 0.75rem;
  }

  .info-block__body {
    padding: .75rem;
  }

  .property-list__title {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
  }

  .not-found-page__number {
    width: 280px;
    height: 180px;
  }

  .not-found-page__text {
    padding-top: 40px;
    font-size: 24px;
    line-height: 116.66667%;
  }

  .faluire-page__image {
    width: 380px;
    height: 228px;
  }

  .faluire-page__header {
    padding-top: 40px;
    font-size: 24px;
    line-height: 116.66667%;
  }

  .faluire-page__text {
    font-size: 16px;
    line-height: 150%;
  }

  .product-link {
    padding: .75rem 2.25rem .75rem .75rem;
  }

  .table-field-counter {
    width: 100%;
  }

  .form-section {
    padding: 1.5rem 1rem;
  }

  .order-form__page-title {
    padding: .5rem 0 1.5rem;
  }

  .order-form__summary.__fixed {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .__fixed .order-form__sum {
    font-size: 16px;
    line-height: 150%;
  }

  .__fixed .order-form__submit {
    width: 10rem;
  }

  .order-form__block {
    padding: 0;
  }

  .order-form__block-header {
    padding: 1.5rem 1rem;
  }

  .order-form__block-body {
    padding: 0;
  }

  .order-form__choose-section {
    padding: 1rem 1rem 0;
  }

  .choose-produts {
    padding: 0 1.25rem;
  }

  .choose-produts__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
  }

  .success-message-window {
    padding: 0;
    height: 100%;
  }

  .success-message-window__body {
    padding: 15% 1rem;
    height: 100%;
  }

  .success-message-window__text {
    padding: 2rem 0;
  }

  .order-tabs__items {
    margin: 0 -1rem;
    padding: 0 .25rem;
  }

  .order-tabs__body {
    margin: 0 -1rem -1rem;
    padding: 1rem 1rem .5rem;
  }

  .order-tabs__info-tab > * {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
  }

  .order-tabs__actions-block {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .order-tabs__order-list .table__tr {
    padding-top: 0.75rem;
  }

  .order-tabs__order-list .table__td--features {
    margin-top: 0.75rem;
  }

  .order-tabs__order-list .table__td--features:before {
    padding: 0 0 .25rem;
  }

  .order-tabs__order-summarize {
    padding: 0.75rem 0;
  }

  .order-props-list {
    margin: -.75rem 0;
  }

  .order-actions {
    margin: -.75rem 0;
  }

  .order-actions__action {
    padding: 0.75rem 0;
  }

  .comment-form {
    padding: 0;
  }
}

@media (max-width: 767px) {
  .order-form__actions {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
  }

  .order-form__actions > * {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }

  .order-form__submit {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .choose-produts {
    padding: 0;
  }

  .choose-produts__item {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
  }
}

@media (max-width: 479px) {
  .comment__label {
    display: block;
    padding-right: 0;
    border: none;
  }

  .comment__date {
    display: block;
    padding-left: 0;
  }

  .comment__body {
    font-size: 0.875rem;
  }

  .auth-block {
    padding: 1.25rem;
  }

  .auth-block__title {
    font-size: 1rem;
  }

  .auth-block__footer {
    padding-top: 1.5rem;
  }

  .auth-block__footer p {
    font-size: .875rem;
    line-height: 140%;
  }

  .faluire-page__image {
    width: 300px;
    height: 180px;
  }
}

@media (max-width: 399px) {
  h1,
  .__h1 {
    font-size: 28px;
    line-height: 128.57143%;
  }

  h2,
  .__h2 {
    font-size: 24px;
    line-height: 116.66667%;
  }

  h3,
  .__h3 {
    font-size: 18px;
    line-height: 133.33333%;
  }

  .product-card__image {
    height: 240px;
    min-width: 240px;
  }

  .characteristics-card__image {
    height: 240px;
    min-width: 240px;
  }
}

@media (hover: hover) {
  a:hover {
    color: #0019A5;
  }

  .head-logo__burger:hover {
    color: #46CBE3;
    cursor: pointer;
  }

  .head-logo__notification:hover {
    color: #46CBE3;
  }

  .head-info__notification:hover:before {
    color: #151B3D;
  }

  .close-btn:hover {
    color: #46CBE3;
  }

  .side-area__label-cabinet:hover {
    color: #ffffff;
  }

  .side-area__label-cabinet:hover:before {
    color: #46CBE3;
  }

  .main-menu__link:hover {
    color: #ffffff;
  }

  .main-menu__link:hover:not(span):before {
    color: #46CBE3;
  }

  .menu-contacts__item:hover {
    color: #ffffff;
  }

  .menu-contacts__item:hover:before {
    color: #46CBE3;
  }

  .btn:hover {
    cursor: pointer;
  }

  .btn--primary:hover {
    background-color: #14BAD8;
    border-color: #14BAD8;
  }

  a.btn--primary:hover {
    color: #fff;
  }

  .btn--primary:disabled:hover,
  .btn--primary._disabled:hover {
    background-color: #DADCE7;
  }

  .btn--secondary:hover {
    border-color: #14BAD8;
  }

  a.btn--secondary:hover {
    color: #14BAD8;
  }

  .btn--secondary:disabled:hover,
  .btn--secondary._disabled:hover {
    color: #DADCE7;
  }

  .btn:disabled:hover,
  .btn._disabled:hover {
    cursor: default;
    border-color: #DADCE7;
  }

  .field__element:hover {
    border-color: #14BAD8;
  }

  .field--error .field__element:hover {
    border-color: #E80F0F;
  }

  .field__icon .icons:hover {
    color: #14BAD8;
    cursor: pointer;
  }

  .field__icon a:hover {
    color: #14BAD8;
  }

  .field--disabled .field__icon .icons:hover {
    color: #DADCE7;
    cursor: default;
  }

  .field--disabled .field__icon a:hover {
    cursor: default;
    color: #DADCE7;
  }

  .field--file .field__btn-text:hover {
    border-color: #14BAD8;
    cursor: pointer;
  }

  .field--file .field__element:disabled + .field__btn-text:hover {
    cursor: default;
    border-color: #DADCE7;
  }

  .field--file.field--error .field__btn-text:hover {
    border-color: #E80F0F;
  }

  .counter-field__minus:hover,
  .counter-field__plus:hover {
    color: #14BAD8;
    cursor: pointer;
  }

  .counter-field__minus._disabled:hover,
  .counter-field__plus._disabled:hover {
    color: #DADCE7;
    cursor: default;
  }

  .counter-field--error:hover {
    border-color: #E80F0F;
  }

  .counter-field--disabled .counter-field__minus:hover,
  .counter-field--disabled .counter-field__plus:hover {
    color: #DADCE7;
    cursor: default;
  }

  .captcha__refresh:hover i:before {
    background-image: url("../img/icons/reload-hover.svg");
  }

  .modal__close:hover {
    cursor: pointer;
  }

  .modal__close:hover span {
    color: #14BAD8;
  }

  .table__td--close-icon:hover {
    color: #14BAD8;
    cursor: pointer;
  }

  .table__td--link:hover {
    background-color: rgba(244, 245, 249, 0.5);
  }

  .section-table__add-button {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .section-table__add-button:hover {
    color: #0019A5;
  }

  .product-card:hover {
    -webkit-box-shadow: 0px 4px 8px rgba(0, 4, 38, 0.12);
    box-shadow: 0px 4px 8px rgba(0, 4, 38, 0.12);
    border-color: transparent;
    cursor: pointer;
    z-index: 2;
  }

  .product-card:hover .product-card__title {
    color: #14BAD8;
  }

  .characteristics-card:hover {
    z-index: 2;
    cursor: pointer;
    -webkit-box-shadow: 0px 4px 8px rgba(0, 4, 38, 0.12);
    box-shadow: 0px 4px 8px rgba(0, 4, 38, 0.12);
  }

  .characteristics-card:hover .characteristics-card__title {
    color: #14BAD8;
  }

  .characteristics-card:hover .characteristics-card__action .field__element {
    border-color: #14BAD8;
  }

  .tabs__item:hover {
    cursor: pointer;
  }

  .tabs__item:hover span:after {
    background-color: #14BAD8;
  }

  .tabs__item:hover._active {
    cursor: default;
  }
}